@font-face {
  font-family:'MHei';
  font-style:normal;
  font-weight:200;
  src:url("/fonts/MHeiHK-Light.woff") format("woff"), url("/wss/fonts/MHei/v1/MHeiHK-Light.ttf") format("truetype");
  *src:url('');
  /* (C) Copyright 1991-2008 China Type Design Ltd. Monotype Imaging Inc. All rights reserved. */
}

/* IE8 and Below
----------------- */
@font-face {
  *font-family:'MHei 100';
  *src:url("https://www.apple.com/wss/fonts/MHei/v1/MHeiHK-Light.eot?") format("eot");
  /* (C) Copyright 1991-2008 China Type Design Ltd. Monotype Imaging Inc. All rights reserved. */
}

@font-face {
  *font-family:'MHei 200';
  *src:url("https://www.apple.com/wss/fonts/MHei/v1/MHeiHK-Light.eot?") format("eot");
  /* (C) Copyright 1991-2008 China Type Design Ltd. Monotype Imaging Inc. All rights reserved. */
}

@font-face {
  *font-family:'MHei';
  *src:url("https://www.apple.com/wss/fonts/MHei/v1/MHeiHK-Medium.eot?") format("eot");
  /* (C) Copyright 1991-2008 China Type Design Ltd. Monotype Imaging Inc. All rights reserved. */
}

@font-face {
  *font-family:'MHei 500';
  *src:url("https://www.apple.com/wss/fonts/MHei/v1/MHeiHK-Bold.eot?") format("eot");
  /* (C) Copyright 1991-2008 China Type Design Ltd. Monotype Imaging Inc. All rights reserved. */
}

@font-face {
  *font-family:'MHei 600';
  *src:url("https://www.apple.com/wss/fonts/MHei/v1/MHeiHK-Heavy.eot?") format("eot");
  /* (C) Copyright 1991-2008 China Type Design Ltd. Monotype Imaging Inc. All rights reserved. */
}

@font-face {
  *font-family:'MHei 700';
  *src:url("https://www.apple.com/wss/fonts/MHei/v1/MHeiHK-Xbold.eot?") format("eot");
  /* (C) Copyright 1991-2008 China Type Design Ltd. Monotype Imaging Inc. All rights reserved. */
}
