@import "bootstrap";
@import "compass/css3/background-size";

body {
  padding-top: 51px;
}


.carousel-inner {

  .item {
    height: 500px;
    @include background-size(cover);
  }

}

section {
  padding: 30px 0;

  h3 {
    font-size: 38px;
    margin-bottom: 30px;
  }

}


#aboutus {
  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }

}